04 Gmail-Google Sheet Automation.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        -32
      ],
      "id": "b38771e7-230f-43f4-8567-6543ffa013fc",
      "name": "When chat message received",
      "webhookId": "8cb2e1bb-42ae-49ac-a76b-01436d8ffaf1"
    },
    {
      "parameters": {
        "sendTo": "Kenzyelanfoshy5@gmail.com",
        "subject": "Hello",
        "emailType": "text",
        "message": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        -32
      ],
      "id": "55c98587-7fba-4f27-a5d9-072345d6a699",
      "name": "Send a message",
      "webhookId": "7e151e98-0c57-4a6c-b80c-18bd6c2dc24b",
      "credentials": {
        "gmailOAuth2": {
          "id": "yCsVLC13MyoLSKGj",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oq9sNIhTU5ejHT_mk4f_PLVyR17MyhY2Fq90XpFdfa4",
          "mode": "list",
          "cachedResultName": "Test03",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oq9sNIhTU5ejHT_mk4f_PLVyR17MyhY2Fq90XpFdfa4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oq9sNIhTU5ejHT_mk4f_PLVyR17MyhY2Fq90XpFdfa4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $('When chat message received').item.json.chatInput }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        128,
        -32
      ],
      "id": "afb32c3a-0461-4129-be11-6d5077da4e14",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kI3bbTEge6yzmDoa",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e05c402f-5d96-4f4b-a17a-232f8658c64e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5385a99b1de47bfe80bcbf3ec618e7c8ed0f38b1ed2bea1a6550b11472476533"
  },
  "id": "Bd5NKbcTPvGuMi4d",
  "tags": []
}